.header {
  width: 1250px;
  height: 80px;
  border: none;
  display: flex;
  justify-content: space-between;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 8px 30px;
  font-style: normal;
  align-items: center;
  font-weight: bold;
}
.logo {
  width: 100px;
  height: 30px;
}
.header-txt {
  width: 300px;
  border: none;
  display: flex;
  height: 40px;
  gap: 20px;
  padding-top: 15px;
  padding-left: 280px;
  align-items: center;
}
.header-txt a {
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.stay {
  border: none;
  width: 60px;
  height: 45px;
  text-align: center;
  padding-top: 10px;
}
.stay:hover {
  background-color: #f5eeee98;
  border-radius: 25px;
  text-align: center;
  height: 45px;
  padding-top: 10px;
}
.exp {
  border: none;
  width: 120px;
  height: 45px;
  text-align: center;
  padding-top: 10px;
}
.exp:hover {
  background-color: #f5eeee98;
  border-radius: 25px;
  text-align: center;
  height: 45px;
  padding-top: 10px;
}

.explore {
  display: flex;
  gap: 15px;
  align-items: center;
}
.explore-txt {
  font-size: 16px;
  color: black;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 5px;
  width: 165px;
  border-radius: 25px;
  height: 35px;
  text-align: center;
}
.globe {
  width: 27px;
  height: 25px;
  transition: transform 0.2s ease-in-out;
  border: none;
  border-radius: 50%;
}

.mini-box {
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 30px;
  background-color: white;
  width: 60px;
  height: 25px;
  align-items: center;
  position: relative;
  padding: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096),
    0 6px 20px 0 rgba(0, 0, 0, 0.051);
  gap: 5px;
}
.btn {
  border: none;
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 10px;
  background-color: white;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  top: 100%;
  right: 10%;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} /*links design*/
.ham {
  width: 25px;
  height: 25px;
}
.contact {
  width: 30px;
  height: 30px;
}

.btn:hover .dropdown-content {
  display: block;
} /*shows menu when you hover over button*/
.btn:hover .dropbtn {
  background-color: grey;
} /*changes colour when menu shown*/

.dropdown-content a:hover {
  background-color: #ddd;
}
/* changes color when u hover over the links*/
.explore-txt:hover {
  background-color: #f5eeee98;
  width: 165px;
  border-radius: 25px;
  height: 35px;
  padding-top: 10px;
  padding-left: 5px;
}

.nav-bar {
  width: 900px;
  height: 60px;
  border: 1.5px solid lightgrey;
  border-radius: 40px;
  margin: 18px 230px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096),
    0 6px 20px 0 rgba(0, 0, 0, 0.051);
}

.nav-items {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  flex-direction: row;
}

.nav-bar input {
  border: none;
  outline: none;
  background-color: transparent;
}
.nav-bar-1 {
  width: 150px;
  height: 60px;
  border: none;
}

.nav-bar-2 {
  width: 150px;
  height: 50px;
  border: none;
  gap: 8px;
}

.nav-bar-3 {
  width: 150px;
  height: 60px;
  border: none;
  gap: 8px;
}

.nav-bar-4 {
  width: 150px;
  height: 60px;
  border: none;
}
.search-box {
  border: none;
  background-color: rgba(220, 66, 115, 0.842);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box:hover {
  background-color: rgba(224, 15, 81, 0.842);
}
.search-box svg {
  background-color: transparent;
  width: 30px;
  padding-top: 10px;
  height: 30px;
  color: white;
}
.body {
  width: 1200px;
  height: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.body span {
  width: 10px;
  height: 10px;
  fill: lightgrey;
  position: relative;
  margin-left: 16px;
  margin-right: 10px;
}

.text {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.card-container,
.card-container-2 {
  display: flex;
  flex-direction: column;
}

.cards,
.cards-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 45px;
  gap: 20px;
  margin-top: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 70px;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9,
.card10 {
  width: 290px;
  height: 320px;
  border: none;
  border-radius: 14px;
}
.card1 .material-symbols-outlined,
.card2 .material-symbols-outlined,
.card3 .material-symbols-outlined,
.card4 .material-symbols-outlined,
.card5 .material-symbols-outlined,
.card6 .material-symbols-outlined,
.card7 .material-symbols-outlined,
.card8 .material-symbols-outlined {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  background-color: rgba(233, 227, 227, 0.319);
  color: rgb(0, 0, 0);
  width: 31px;
  height: 30px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-right: 3px;
}

.card1 div,
.card2 div,
.card3 div,
.card4 div,
.card5 div,
.card6 div,
.card7 div,
.card8 div {
  position: relative;
}
.card1 .live {
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 14px;
  background-color: rgba(233, 227, 227, 0.292);
  color: rgb(0, 0, 0);
  width: 50px;
  height: 20px;
  padding: 2px;
  text-align: center;
  font-weight: bold;
}
.card span {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  background-color: rgba(191, 187, 187, 0.485);
  color: white;
  width: 30px;
  height: 30px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-right: 3px;
}

.image-0,
.image-1,
.image-2,
.image-3,
.image-4,
.image-5,
.image-6,
.image-7,
.image-8,
.image9 {
  padding: 0;
  width: 295px;
  height: 295px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  margin-bottom: 8px;
}

.footer {
  background-color: rgba(237, 236, 236, 0.944);
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.options {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  gap: 15px;
  color: rgb(93, 89, 89);
  padding: 15px 25px;
}
.popular,
.sct {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 25px;
  padding-top: 20px;
  padding-right: 25px;
}

.sct div {
  font-size: 16px;
  line-height: 1.8;
  color: rgb(38, 37, 37);
}
.privacy {
  margin-left: 25px;
  padding-bottom: 35px;
}
.popular a,
.privacy a,
.body a {
  text-decoration: none;
  color: rgb(45, 45, 45);
}
.popular a:hover,
.privacy a:hover,
.sct a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.body a:hover {
  color: rgb(103, 101, 101);
  text-decoration: none;
}
